{% extends "base.html" %}

{% block title %} &bull; Privacy policy{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h5>Privacy policy</h5>
      <p>
        If you access our services, it means you agree to be bound by all of the terms below.
        So, before you use them, please read all of the terms.
        If you don't agree to all of the terms below, please do not use our services.
        Public services that require registration, may come with their own terms and privacy policy.
      </p>

      <h5>This website</h5>

      <p>
        This website is hosted on GitHub pages, therefore the <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">GitHub Privacy Statement</a> applies. No further data collection is done.
      </p>

      <h2>Teddit-Bibliogram-Libreddit-Metasearch-Searx-CloudTube-Whoogle-Lingva Translate-AllTube-Piped-Nitter-Speedtest-Bandwidth Hero-Wikiless</h2>
      
      <h5>Data collected</h5>

      <p>
        The following data is necessary for proper operation of the site:
      </p>

      <ul style="text-align: left;">
				<li>Timestamp of request</li>
				<li>Status code of response</li>
				<li>Request method</li>
				<li>URL</li>
				<li>IP address</li>
				<li>How long it took to serve the request</li>
				<li>Stored preferences (if any)</li>
			</ul>

      <h5>Data stored</h5>

      <p>
        None. Viewed content might be cached indefinitely. I might attach a live terminal for debugging purposes which lets me see a live stream of the collected data, logs viewed this way are also not stored.
      </p>

      <h5>Data stored in your browser</h5>

      <p>
        Some services provides an option to store site preferences, such as the theme without an account. Using this feature will store a cookie in the visitor's browser containing their preferences. This cookie is sent on every request and does not contain any identifying information.
      </p>

      <p>
        You can remove this data from your browser by using your browser's cookie-related controls to delete the data.
      </p>

      <h5>Future Changes</h5>

      <p>
        If we decide to change our privacy policy, we will post those changes on this page.
      </p>
    </div>
  </div>
{% endblock %}
